* {
    box-sizing: border-box;
}

:root {
    --numcol: 5;
    --minw: calc(960px / var(--numcol))
}

body {
    background-color: #A9A9A9;
    font-family: Arial, sans-serif;
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Setting */
.top-setting {
    border-bottom: 2px solid #F5F5F5;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-setting .left-buttons,
.top-setting .right-buttons {
    display: flex;
    gap: 10px;
}

.setting {
    border: 2px solid #F5F5F5;
    border-radius: 8px;
    padding: 5px 15px;
    cursor: pointer;
}

/* Nội dung */
.main-content {
    flex: 1;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.panel {
    border: 2px solid #F5F5F5;
    border-radius: 10px;
    padding: 10px;
}

/* Cột đầu */
.left-panel {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    word-wrap: break-word;
}

.frame-options {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: auto;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    width: 20px;
    height: 20px;
    border: 2px solid white;
}

/* Cột giữa */
.middle-panel {
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--minw), 1fr));
      /* minmax(120px, 1fr) => mỗi box tối thiểu 120px, tối đa tự giãn */
    gap: 10px;
    padding: 10px;   
    height: calc(100vh);
    overflow-y: auto;   /* cuộn dọc */
    overflow-x: hidden; /* ẩn cuộn ngang */
}

.box {
    background-color: #333;
    border: 2px solid white;
    border-radius: 10px;
    height: calc(var(--minw) * 9 / 16)
}

/* Cột cuối*/
.right-panel {
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-right: 10px;
    overflow-y: auto; /* Cho phép cuộn nội dung */
}

.right-panel-content {
    flex: 1; 
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recheck-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.right-panel-footer {
    margin-top: auto; 
    padding-top: 10px;
}

.submit {
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
}
