<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Team TH3N">
        <meta name="description" content="A web for image search and display at ease">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Team TH3N's image search web</title>
        <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    </head>

    <body>
        <div class="top-panel">
            <div class="color-settings button">
                <div id="color_open"><span>⚙ Color</span></div>
                <div id="modal_container">
                    <div class="modal control-element">
                        <div class="color-close"><span>X</span></div>
                        <div class="modal-header">
                            <h3>Settings</h3>
                        </div>
                        <div class="modal-body">
                            <label for="control_color">
                                <span>Control session color</span>
                                <input type="text" id="control_color" value="ex. #0f0f0f">
                            </label>
                            <label for="display_color">
                                <span>Display session color</span>
                                <input type="text" id="display_color" value="ex. #0f0f0f">
                            </label>
                            <label for="button_color">
                                <span>Button Color</span>
                                <input type="text" id="button_color" value="ex. #0f0f0f">
                            </label>
                            <label for="border_color">
                                <span>Border color</span>
                                <input type="text" id="border_color" value="ex. #0f0f0f">
                            </label>
                        </div>
                        <div class="modal-footer button"><span>Save</span></div>
                    </div>
                </div>
            </div>
            <div class="slider control-element">
                <label for="num_columns">
                    <span>Number of columns</span>
                    <input type="range" id="num_columns" value=3 min=1 max=10>
                </label>
            </div>
            <div class="show-recheck button" id="show_recheck"><span>Recheck</span></div>
        </div>

        <div class="left-panel control-element">
            <div class="search-area">
                <div class="query-session">
                    <textarea name="key_query" id="key_query" class="search-input" rows="4"></textarea>
                    <button type="button" class="search-button button" id="search_button">🔍</button>
                </div>
                <div class="param-enter">
                    <label for="top_k">
                        <span>Top K</span>
                        <input type="number" id="top_k" value=100>
                    </label>
                </div>

                <div class="param-enter">
                    <label for="collection">
                        <span>Collection</span>
                        <input type="text" id="collection_name" value="aictestbatch">
                    </label>
                </div>

                <div class="param-enter">
                    <label for="language">
                        <span>Language</span>
                        <select id="lang" name="language">
                            <option value="eng"> EN </option>
                            <option value="vie"> VN </option>
                        </select>   
                    </label>
                </div>

                <div class="wrapper">
                    <details name="advanced-setting">
                        <summary>Advanced settings</summary>
                        <div class="advanced-settings">
                            <div class="param-enter">
                                <label for="ef">
                                    <span>ef</span>
                                    <input id="ef" type="number">
                                </label>
                            </div>

                            <div class="param-enter">
                                <label for="search_mode"></label>
                                <select name="search-mode" id="search_mode">
                                    <option value="normal_search">Normal search</option>
                                    <option value="range_search">Range search</option>
                                    <option value="grouping_search">Grouping search</option>
                                </select>                            
                            </div>
                            <div id="range_search" class="hideable">
                                <div class="param-enter">
                                    <label for="radius">
                                        <span>Radius</span>
                                        <input id="radius" type="number">
                                    </label>
                                </div>

                                <div class="param-enter">
                                    <label for="range_filter">
                                        <span>Range filter</span>
                                        <input id="range_filter" type="number">
                                    </label>
                                </div>
                            </div>
                            <div id="grouping_search" class="hideable">
                                <div class="param-enter">
                                    <label for="group_by_field">
                                        <span>Group by field</span>
                                        <input id="group_by_field" type="text">
                                    </label>
                                </div>

                                <div class="param-enter">
                                    <label for="group_size">
                                        <span>Group size</span>
                                        <input id="group_size" type="number">
                                    </label>
                                </div>

                                <div class="param-enter">
                                <label for="strict_group_size">
                                    <span>Strict group size</span>
                                    <input id="strict_group_size" type="checkbox">
                                </label>
                                </div>
                            </div>
                        </div>
                    </details>
                    <div class="wrapper">
                        <details name="search-history">   
                            <summary>Search history</summary>
                        </details>
                    </div>
                </div>
                <br>
            </div>
            <div class="filter-options">
                <p class="title"><strong>FILTERS</strong></p>
                <label for="video_id">
                    <input type="checkbox" id="video_id" class="option">
                    <span class="option-name">video_id</span>
                    <input type="text" class="text-input" id="sort_video_id">
                </label>

                <label for="frame_id">
                    <input type="checkbox" id="frame_id" class="option">
                    <span class="option-name">frame_id</span>
                    <input type="text" class="text-input" id="sort_frame_id">
                </label>
                
                <label for="time_order">
                    <input type="checkbox" id="time_order" class="option">
                    <span class="option-name">time_order</span>
                    <input type="text" class="text-input" id="sort_time_order">
                </label>
                
                <label for="frame_order">
                    <input type="checkbox" id="frame_order" class="option">
                    <span class="option-name">frame_order</span>
                    <input type="text" class="text-input" id="sort_frame_order">
                </label>

                <label for="answer_key">
                    <input type="checkbox" id="answer_key" class="option">
                    <span class="option-name">answer_key</span>
                    <input type="text" class="text-input" id="sort_answer_key">
                </label>

                <label for="youtube_link">
                    <input type="checkbox" id="youtube_link" class="option">
                    <span class="option-name">youtube_link</span>
                    <input type="text" class="text-input" id="sort_youtube_link">
                </label>

                <label for="publish_date">
                    <input type="checkbox" id="publish_date" class="option">
                    <span class="option-name">publish_date</span>
                    <input type="text" class="text-input" id="sort_publish_date">
                </label>
            </div>
        </div>

        <div class="middle-panel display-element">
            <div class="box">
                <div class="image-layer">
                    <img src="https://aic24.s3.ap-southeast-2.amazonaws.com/aic24/Keyframes_L12/keyframes/L12_V012/123.jpg" alt="" loading="lazy">
                </div>
                <div class="tag-layer">
                    <div class="tag tag-video_id" id="tag_video_id">L12_V012</div>
                    <div class="tag tag-frame_id" id="tag_frame_id">123</div>
                    <div class="tag tag-time_order" id="tag_time_order">1234567</div>
                    <div class="tag tag-frame_order" id="tag_frame_order">12345</div>
                    <div class="tag tag-answer_key" id="tag_answer_key">L12_V012-1234567</div>
                    <div class="tag tag-youtube_link" id="tag_youtube_link"><a href="">Click here</a></div>
                    <div class="tag tag-publish_date" id="tag_publish_date">12/03/2024</div>
                </div>
                <div class="search-layer">
                    <div class="button cont-search">🔍</div>
                </div>
            </div>
            <div class="box">
                <div class="image-layer">
                    <img src="https://aic24.s3.ap-southeast-2.amazonaws.com/aic24/Keyframes_L12/keyframes/L12_V012/123.jpg" alt="" loading="lazy">
                </div>
                <div class="tag-layer">
                    <div class="tag tag-video_id" id="tag_video_id">L12_V012</div>
                    <div class="tag tag-frame_id" id="tag_frame_id">123</div>
                    <div class="tag tag-time_order" id="tag_time_order">1234567</div>
                    <div class="tag tag-frame_order" id="tag_frame_order">12345</div>
                    <div class="tag tag-answer_key" id="tag_answer_key">L12_V012-1234567</div>
                    <div class="tag tag-youtube_link" id="tag_youtube_link"><a href="">Click here</a></div>
                    <div class="tag tag-publish_date" id="tag_publish_date">12/03/2024</div>
                </div>
                <div class="search-layer">
                    <div class="button cont-search">🔍</div>
                </div>
            </div>
            <div class="box">
                <div class="image-layer">
                    <img src="https://aic24.s3.ap-southeast-2.amazonaws.com/aic24/Keyframes_L12/keyframes/L12_V012/123.jpg" alt="" loading="lazy">
                </div>
                <div class="tag-layer">
                    <div class="tag tag-video_id" id="tag_video_id">L12_V012</div>
                    <div class="tag tag-frame_id" id="tag_frame_id">123</div>
                    <div class="tag tag-time_order" id="tag_time_order">1234567</div>
                    <div class="tag tag-frame_order" id="tag_frame_order">12345</div>
                    <div class="tag tag-answer_key" id="tag_answer_key">L12_V012-1234567</div>
                    <div class="tag tag-youtube_link" id="tag_youtube_link"><a href="">Click here</a></div>
                    <div class="tag tag-publish_date" id="tag_publish_date">12/03/2024</div>
                </div>
                <div class="search-layer">
                    <div class="button cont-search">🔍</div>
                </div>
            </div>
        </div>

        <div class="right-panel display-element">
            <section class="image-display" id="recheck">
                <div class="box"><div class="rotate"></div><div class="oval"></div></div>
                <div class="box"><div class="rotate"></div><div class="oval"></div></div>
                <div class="box"><div class="rotate"></div><div class="oval"></div></div> 
                <div class="box"><div class="rotate"></div><div class="oval"></div></div>      
                <div class="box"><div class="rotate"></div><div class="oval"></div></div> 
                <div class="box"><div class="rotate"></div><div class="oval"></div></div> 
                <div class="box"><div class="rotate"></div><div class="oval"></div></div> 
                <div class="box"><div class="rotate"></div><div class="oval"></div></div> 
            </section>
            <div class='submit-button button'>SUBMIT</div>
        </div>

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
