* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --numcol: 3
}

.top-setting {grid-area: h;}
.left-panel {grid-area: l;}
.middle-panel {grid-area: m;}
.right-panel {grid-area: r;}

body {
    background-color: #A9A9A9;
    font-family: Arial, sans-serif;
    color: #F5F5F5;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 65% 15%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "h h h"
        "l m m";
    overflow: hidden;
}

.top-panel {
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 65% 15%;
    font-size: 25px;
    font-weight: bold;

    .color-settings, .slider, .show-recheck{
        background-color: #333;
        color: white;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        font-size: 1.5em;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #666;
            transition: background-color 0.3s ease-in-out;
        }
    }

    .color-settings {border-left: none;}

    #modal_container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0, 0.5);
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        z-index: 999;

        .modal {
            background: #fff;
            color: black;
            border: 2px solid black;
            border-radius: 15px;
            position: relative;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            max-width: 500px;
            transition: all 0.25s ease-in-out;

            .color-close {
                font-size: 18px;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
    
            .modal-header{
                font-size: 18px;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #e9ecef;
            }
    
            .modal-body {
                font-size: 14px;
                font-weight: normal;
                padding: 0px 20px 20px;
            }
    
            .modal-footer {
                border-top: 2px solid black;
                border-radius: 0px 0px 15px 15px;
                padding: 5px;
                font-size: 18px;
                text-align: center;
                cursor: pointer;
            }
    
            .wrapper {
                font-family: Arial, sans-serif;
                color: #333;
                max-width: 400px;
            }
        }
    }

    #modal_container.show {
        opacity: 1;
        pointer-events:all;
        .modal {
            top: 100px;
        }
    }
}

.left-panel {
    padding: 10px;
    display: flex;
    flex-direction: column;

    select {
        border: 2px solid #ccc;
        border-radius: 10px;
    }

    .search-area {
        padding: 5px;
        font-size: 1.2em;

        .search-input, .search-button {
            border: 2px solid #ccc;
            border-radius: 20px;
            padding: 5px;
            cursor: pointer;
        }
        .param-enter{
            padding: 5px;
            font-weight: bold;
        }

        details {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 8px 12px;
            background: #fafafa;
            color: black;
            margin-top: 10px;
            
            summary {
                font-weight: bold;
                cursor: pointer;
                list-style: none;
                position: relative;
                padding-right: 24px;
            }
            summary::after {
                content: "▼";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: transform 0.3s ease;
            }
    
            .advanced-settings {
                select {
                    font-size: 18px;
                }
    
                label {
                    padding-top: 2px;
                    font-size: 16px;
                }
    
                input[type="number"], input[type="text"] {
                    padding: 4px 4px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    width: 100px;
                }
    
                input[type="checkbox"] {
                    transform: scale(1.5);
                }
            }
        }
        details[open] summary::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    .filter-options {
        padding: 5px;
        border: 2px solid white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        .title {
            text-align: center;
            font-size: 1.5em;
        }
        label {
            padding: 3px;
            input {
                transform: scale(1.5);
            }
        }
        .text-input {
            width: 100px;
            height: 15px;
            margin-left: 40px;
            margin-top: 5px;
            display: none; 
            font-size: 10px;
        }
        label input[type="checkbox"]:checked ~ .text-input {
            display: block;
        }
    }

}

.middle-panel {
    border-left: 2px solid white;
    padding: 10px;
    display: grid;
    align-content: start;
    grid-template-columns: repeat(auto-fill, minmax(calc((100% - 10px * 2) / var(--numcol)), 1fr));
    overflow-x: hidden;
    overflow-y: auto;

    .box {
        position: relative;
        background-color: #333;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border: 2px solid white;
        border-radius: 10px;
        aspect-ratio: 16 / 9;

        .image-layer {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 20px;
            }
        }

        .tag-layer {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-end;
            row-gap: 3px;
            padding: 3px;
            
            .tag {
                padding: 4px 1px;
                border-radius: 6px;
                font-size: 0.8rem;
                font-weight: bold;
            }
            .tag-video_id {background: rgba(255, 0, 0, 0.5);}
            .tag-frame_id {background:rgba(255, 166, 0, 0.5);}
            .tag-time_order{background: rgba(255, 255, 0, 0.5);}
            .tag-frame_order {background:rgba(0, 128, 0, 0.5);}
            .tag-answer_key {background:rgba(0, 0, 255, 0.5);}
            .tag-youtube_link {
                background:rgba(76, 0, 130, 0.5);
                a {color: white;}
            }
            .tag-publish_date {background: rgba(238, 130, 238, 0.5);}
        }
    }
}

.right-panel {
    border-left: 2px solid white;
    padding: 10px;
    display: grid;
    grid-template-rows: 19fr 1fr;
    row-gap: 10px;

    .image-display {
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: hidden;
        overflow-y: auto;

        .box {
            background-color: #333;
            border: 2px solid white;
            border-radius: 10px;
            aspect-ratio: 16 / 9;
        }
    }

    .submit-button {
        width: 200px;
        font-size: 2em;
        border-radius: 20px;
        border: none;
        padding: 1rem;
    }
}
