* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --numcol: 3
}

.top-setting {grid-area: h;}
.left-panel {grid-area: l;}
.middle-panel {grid-area: m;}
.right-panel {grid-area: r;}

body {
    background-color: #A9A9A9;
    font-family: Arial, sans-serif;
    color: #F5F5F5;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 65% 15%;
    grid-template-rows: 5% 95%;
    grid-template-areas: 
        "h h h"
        "l m m";
    overflow: hidden;
}

.top-panel {
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 3% 3% 59% 15%;
    font-size: 15px;
    font-weight: bold;

    .color-settings, .slider, .show-recheck, .revert{
        font-size: 1.5em;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #color_open {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #modal_container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0,0,0, 0.5);
        pointer-events: none;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        z-index: 999;

        .modal {
            border-radius: 15px;
            position: relative;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            max-width: 500px;
            transition: all 0.25s ease-in-out;

            .color-close {
                font-size: 18px;
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
    
            .modal-header{
                font-size: 18px;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
    
            .modal-body {
                display: flex;
                flex-direction: column;
                row-gap: 3px;
                font-size: 14px;
                font-weight: normal;
                padding: 0px 20px 20px;

                span {font-weight: bold;}
            }
    
            .modal-footer {
                border-top: 2px solid black;
                border-radius: 0px 0px 15px 15px;
                padding: 5px;
                font-size: 18px;
                text-align: center;
                cursor: pointer;
            }
        }
    }

    #modal_container.show {
        opacity: 1;
        pointer-events:all;
        .modal {
            top: 100px;
        }
    }
}

.left-panel {
    display: grid;
    grid-template-rows: 2fr 1fr;

    select {
        border: 2px solid #ccc;
        border-radius: 10px;
    }

    .search-area {
        padding: 5px;
        font-size: 1.2em;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;

        .query-session {
            display: grid;
            grid-template-columns: 4fr 1fr;

            .search-input, .search-button {
                padding: 5px;
                cursor: pointer;
            }
        }

        .param-enter{
            padding: 5px;
            font-weight: bold;
        }

        details {
            margin-top: 10px;
            
            summary {
                font-weight: bold;
                cursor: pointer;
                list-style: none;
                position: relative;
                padding-right: 24px;
            }
            summary::after {
                content: "▼";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: transform 0.3s ease;
            }
    
            .advanced-settings {
                select {
                    font-size: 18px;
                }
    
                label {
                    padding-top: 2px;
                    font-size: 16px;
                }
    
                input[type="number"], input[type="text"] {
                    padding: 4px 4px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    width: 100px;
                }
    
                input[type="checkbox"] {
                    transform: scale(1.5);
                }
            }
        }
        details[open] summary::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    .filter-options {
        padding: 5px 10px;
        border-top: 3px solid #040505;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;

        .title {
            text-align: center;
            font-size: 1.5em;
        }

        label {
            padding: 3px;
            input {
                transform: scale(1.5);
            }
        }

        .text-input {
            width: 100px;
            height: 15px;
            margin-left: 40px;
            margin-top: 5px;
            display: none; 
            font-size: 10px;
        }
        
        label input[type="checkbox"]:checked ~ .text-input {
            display: block;
        }
    }

}

.middle-panel {
    padding: 10px;
    display: grid;
    align-content: start;
    grid-template-columns: repeat(auto-fill, minmax(calc((100% - 10px * 2) / var(--numcol)), 1fr));
    overflow-x: hidden;
    overflow-y: auto;
}

.right-panel {
    display: grid;
    grid-template-rows: 18fr 2fr;

    .image-display {
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .submit-button {
        font-size: 25px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.control-element {
    background: #1e295b;
    border: 3px solid #040505;
    color: white;
}

.display-element {
    background: #4e6183;
    border: 3px solid #040505;
}

.button {
    background-color: #f45b69;
    border: 3px solid #040505;
    color: #040505;
    transition:
        background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;

    &:hover {
        background-color: white;
        color: black;
    }
}

input, textarea {
    font: inherit;
    font-weight: normal;
    background: #4e6183;
    border: 1px solid #040505;
    border-radius: 5px;
    color: white;
    accent-color: #f45b69;
}

.box {
    position: relative;
    background-color: #4e6183;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #040505;
    aspect-ratio: 16 / 9;

    .image-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .tag-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        row-gap: 3px;
        padding: 3px;
        
        .tag {
            padding: 4px 1px;
            border-radius: 6px;
            font-size: 0.8rem;
            font-weight: bold;
        }
        .tag-video_id {background: rgba(255, 0, 0, 0.5);}
        .tag-frame_id {background:rgba(255, 166, 0, 0.5);}
        .tag-time_order{background: rgba(255, 255, 0, 0.5);}
        .tag-frame_order {background:rgba(0, 128, 0, 0.5);}
        .tag-answer_key {background:rgba(0, 0, 255, 0.5);}
        .tag-youtube_link {
            background:rgba(76, 0, 130, 0.5);
            a {color: white;}
        }
        .tag-publish_date {background: rgba(238, 130, 238, 0.5);}
    }
    
    .search-layer {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2;

        .cont-search {
            padding: 2px;
            border: none;
            border-radius: 14px;
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5);
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: white;
            }
        }
    }
}
.hidden_name {
        display: none;
        position: absolute;
        background-color: white;
        border-color: #040505;
        border-radius: 3px;
        color: black;
        font-size: 0.8rem;
        padding: 3px;
    }