* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --numcol: 4
}

.top-setting {grid-area: h;}
.left-panel {grid-area: l;}
.middle-panel {grid-area: m;}
.right-panel {grid-area: r;}

body {
    background-color: #A9A9A9;
    font-family: Arial, sans-serif;
    color: #F5F5F5;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 65% 15%;
    grid-template-rows: 5% 95%;
    grid-template-areas: 
        "h h h"
        "l m r";
    overflow: hidden;
}

.top-panel {
    border: 2px solid white;
    border-radius: 20px;
    width: 100vw;

    .setting{
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

    button #btn-open {
        background-color: rgb(14, 123, 224);
        color: #fff;
        border: none;
        outline: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0, 0.3);
    }

    #modal-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0,0,0, 0.5);
        height: 100vh;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
    }

    .modal {
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: 500px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0, 0.3);
        transition: all 0.25s ease-in-out;
    }

    #modal-container.show {
        opacity: 1;
        pointer-events:all;
        .modal {
            top: 100px;
        }
    }

    .modal-header{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e9ecef;

        h3 {
            margin: 0;
            color: black;
        }

        button#btn-close{
            border: none;
            background: black;
            outline: none;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .modal-body {
        padding: 0px 20px 20px;
        color: black;
    }

    .wrapper {
        font-family: Arial, sans-serif;
        color: #333;
        max-width: 400px;
    }
}

.left-panel {
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;

    select {
        border: 2px solid #ccc;
        border-radius: 10px;
    }

    .search-area {
        padding: 5px;
        font-size: 1.2em;

        .search-input, .search-button {
            border: 2px solid #ccc;
            border-radius: 20px;
            padding: 5px;
            cursor: pointer;
        }
        .param-enter{
            padding: 5px;
            font-weight: bold;
        }

        details {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 8px 12px;
            background: #fafafa;
            color: black;
            margin-top: 10px;
            
            summary {
                font-weight: bold;
                cursor: pointer;
                list-style: none;
                position: relative;
                padding-right: 24px;
            }
            summary::after {
                content: "▼";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: transform 0.3s ease;
            }
    
            .advanced-settings {
                select {
                    font-size: 18px;
                }
    
                label {
                    padding-top: 2px;
                    font-size: 16px;
                }
    
                input[type="number"], input[type="text"] {
                    padding: 4px 4px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    width: 100px;
                }
    
                input[type="checkbox"] {
                    transform: scale(1.5);
                }
            }
        }
        details[open] summary::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    .filter-options {
        padding: 5px;
        border: 2px solid white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        .title {
            text-align: center;
            font-size: 1.5em;
        }
        label {
            padding: 3px;
            input {
                transform: scale(1.5);
            }
        }
        .text-input {
            width: 100px;
            height: 15px;
            margin-left: 40px;
            margin-top: 5px;
            display: none; 
            font-size: 10px;
        }
        label input[type="checkbox"]:checked ~ .text-input {
            display: block;
        }
    }

}

.middle-panel {
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(905px / var(--numcol)), 1fr));
    overflow-x: hidden;
    overflow-y: auto;

    .box {
        background-color: #333;
        border: 2px solid white;
        border-radius: 10px;
        aspect-ratio: 16 / 9;
    }
}

.right-panel {
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 18fr 1fr;
    row-gap: 10px;

    .title {
        font-size: 2em;
        text-align: center;
    }

    .image-display {
        display: grid;
        grid-template-columns: 1fr;
        overflow-x: hidden;
        overflow-y: auto;

        .box {
            background-color: #333;
            border: 2px solid white;
            border-radius: 10px;
            aspect-ratio: 16 / 9;
        }
    }

    .submit-button {
        width: 200px;
        font-size: 2em;
        border-radius: 20px;
        border: none;
        padding: 1rem;
    }
}