* {
    box-sizing: border-box;
}

:root {
    --numcol: 4
}

.top-setting {grid-area: h;}
.left-panel {grid-area: l;}
.middle-panel {grid-area: m;}
.right-panel {grid-area: r;}

body {
    background-color: #A9A9A9;
    font-family: Arial, sans-serif;
    color: #F5F5F5;
    height: 98vh;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 5% 95%;
    grid-template-areas: 
        "h h h"
        "l m r";
    overflow-y: auto;
}

.top-panel {
    border: 2px solid white;
    border-radius: 20px;
    width: 99vw;
}

.left-panel {
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    
    .search-area {
        padding: 10px;
        .search-box {
            border: 2px solid white;
            border-radius: 20px;
            padding: 10px;
            word-wrap: break-word;
        }
        .param-enter{
            font-size: 18px;
            font-weight: bold;
        }
    }

    .filter-options {
        padding: 10px;
        border: 2px solid white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        .title {
            text-align: center;
            font-size: 1.2em;
        }
        label {
            padding: 0.5rem;
            input {
                transform: scale(2);
            }
        }
        .option-name {font-size: 1.2em;}
    }
}

.middle-panel {
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(905px / var(--numcol)), 1fr));
    overflow-x: hidden;
    overflow-y: auto;

    .box {
        background-color: #333;
        border: 2px solid white;
        border-radius: 10px;
        aspect-ratio: 16 / 9;
    }
}

/* Cột cuối*/
.right-panel {
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;

    .title {
        font-size: 2em;
        text-align: center;
    }

    .image-display {
        display: grid;
        height: 600px;
        grid-template-columns: 1fr;
        overflow-x: hidden;
        overflow-y: auto;

        .box {
            background-color: #333;
            border: 2px solid white;
            border-radius: 10px;
            aspect-ratio: 16 / 9;
        }
    }

    .submit-button {
        width: 200px;
        font-size: 2em;
        border-radius: 20px;
        border: none;
        position: absolute;
        bottom: 1rem;
        padding: 1rem;
    }
}

/* Chỉnh màu nền - ae đừng bỏ phần này nhá (qnhu) */
button#btn-open{
    background-color: rgb(14, 123, 224);
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.3);
}
 #modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0, 0.5);
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
#modal-container.show{
    opacity: 1;
    pointer-events:all;
}
 
.modal{
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 500px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.3);
    transition: all 0.25s ease-in-out;
}
#modal-container.show {
    opacity: 1;
    pointer-events:all;
}
#modal-container.show .modal{
    top: 100px;
}
.modal-header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9ecef;
    }
.modal-header h3{
    margin: 0;
    color: black;
 }
.modal-header button#btn-close{
    border: none;
    background: black;
    outline: none;
    font-size: 20px;
    cursor: pointer;
}
.modal-body{
    padding: 0px 20px 20px;
    color: black;
}